llvmlite==0.34.0
numpy~=1.19.5
numba==0.51.1
requests==2.25.1
colorama==0.4.4
pycallgraph==1.0.1
bcolors==1.0.2
bitarray==1.8.1
reedsolo==0.3
Pillow==8.1.2
matplotlib==3.3.3
pycryptodomex==3.10.1
pytest==6.2.2
bitstring==3.1.7
cycler==0.10.0
setuptools==54.2.0
pybloomfiltermmap3==0.5.3
pybloom3==0.0.3 # this is only needed for windows
pandas==1.1.4
scipy==1.5.4
watchdog==0.10.4
objgraph==3.5.0
sympy==1.6.2
progressbar2==3.53.1
raptorq~=1.6.2