numpy==1.23.3
scipy==1.9.1
colorama==0.4.5
pandas==1.5.0
pycallgraph==1.0.1
matplotlib==3.6.0
numba==0.55.1
cycler==0.11.0
bcolors==1.0.4
bitarray==2.6.0
pyldpc==0.7.9
git+git://github.com/mugpahug/reedsolomon@master
crcmod==1.7